<template name="commentSubmit">
    <form name="comment" class="comment-form">
        <!--         <div class="control-group">
            <div class="controls">
                <label for="body">Comment on this post</label>
                <textarea name="body"></textarea>
            </div>
        </div> -->
        <div class="form-group">
            <div class="col-lg-10">
                <textarea name="body" class="form-control" rows="2" id="textArea" placeholder="Share your two cents"></textarea>
                <!-- <span class="help-block">Some helpful message</span>
 -->            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">Add Comment</button>
            </div>
        </div>
    </form>
</template>