<template name="commentSubmit">
    <form name="comment" class="comment-form">
        <div class="form-group">
            <div class="col-lg-10">
                <textarea name="body" class="form-control" rows="2" id="textArea" placeholder="Share your two cents"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">Add Comment</button>
            </div>
        </div>
    </form>
</template>